.App {
  text-align: center;
  align-content: center;
  font-family: 'Roboto', sans-serif;
}

.Navbar{
  background-color: #222222;
}

.container{
  margin: 0;
}

.content-pane {
  text-align: left;
  align-content: center;
}

.image {
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bluebanner{
  background-color: darkblue;
  padding: 20px;
  color: white;
  font-size: 30px;
}

.greenbanner{
  background-color: darkgreen;
  padding: 20px;
  color: white;
  font-size: 30px;
}

.vpbanner{
  background-color: #2C3E50;
  padding: 20px;
  color: white;
  font-size: 30px;
}

.rqbanner{
  background-color: goldenrod;
  padding: 20px;
  color: white;
  font-size: 30px;
}


p {
  text-align: left;
  align-content: left;
}